@import url(//db.onlinewebfonts.com/c/1dced00e473a2db7b3d52a4c8392f31e?family=Euclid+Circular+A+Light);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x:hidden;
}
body {
  margin: 0;
 
}

code {
  font-family:Euclid Circular A Light, sans-serif;
}
