
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x:hidden;
}
body {
  margin: 0;
}


@font-face {
  font-family: 'Euclid Circular B SemiBold';
  font-weight: 600;
  src: local('Euclid'), url(../src/fonts/Euclid\ Circular\ B\ SemiBold.ttf) format('opentype');
}
@font-face {
  font-family: 'Euclid Circular B Regular';
  font-weight: normal;
  src: local('Euclid'), url(../src/fonts/Euclid\ Circular\ B\ Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'Euclid Circular B Bold ';
  font-weight: 800;
  src: local('Euclid'), url(../src/fonts/Euclid\ Circular\ B\ Bold.ttf) format('opentype');
}